@use "./base.scss";

// put your custom CSS here!

@use "../static/fonts/amulya.css";

header {
    font-family: Amulya-Regular;
}

body {
    font-family: Amulya-Medium;
}

code {
    font-family: Arial, Helvetica, sans-serif;
}